name: Quality

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    uses: Economistician/eb-integration/.github/workflows/pre-commit.yml@main
    with:
      python-version: "3.13"